# Ignore build outputs
**/bin/
**/obj/

# Visual Studio
.vs/
*.user

# Rider / JetBrains IDE
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# VSCode
.vscode/

# Logs
*.log

# DotNet debug
launchSettings.json
